absl-py==0.9.0
asgiref==3.2.10
asn1crypto==0.24.0
astor==0.8.1
attrs==19.3.0
certifi==2020.6.20
chardet==3.0.4
cryptography==2.1.4
dill==0.3.2
Django==3.0.8
future==0.18.2
gast==0.2.2
google-pasta==0.1.8
googleapis-common-protos==1.52.0
grpcio==1.26.0
h5py==2.10.0
idna==2.6
image==1.5.32
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==10.6.0
keyrings.alt==3.0
Markdown==3.1.1
numpy==1.18.1
opt-einsum==3.1.0
Pillow==7.2.0
promise==2.3
protobuf==3.11.2
pycrypto==2.6.1
pygobject==3.26.1
python-apt==1.6.4
pytz==2020.1
pyxdg==0.25
requests==2.24.0
scipy==1.5.1
SecretStorage==2.3.1
six==1.11.0
sqlparse==0.3.1
tensorboard==1.15.0
tensorflow-datasets==3.1.0
tensorflow-estimator==1.15.1
tensorflow-gpu==1.15.2
tensorflow-metadata==0.22.2
termcolor==1.1.0
tqdm==4.47.0
urllib3==1.25.9
Werkzeug==0.16.1
wrapt==1.11.2
